# MongoDB connection URI (e.g., from MongoDB Atlas)
MONGODB_URL="mongodb+srv://<username>:<password>@cluster0.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"

# Optional: Database name overrides the default in config.py
DATABASE_NAME="newmericcompass"

# Cloudinary Config
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

